.module.cnct-key {
	width: 5rem;
}

.module-cnct-key-slider-holder {
	margin-top:-3rem;
	margin-left:2rem;
	padding-bottom:5rem;
}

.module-cnct-key-activity {
	text-align:center;
	background:#f2be57;
}