.module.lfo {
	width: 4rem;
	background-image: url(./img/rslfo_bg.png);
	background-size:contain;
	color:#ccc;
	font-weight:300;
}

.module-lfo-slider-holder {
	margin-left:1.75rem;
  margin-top:.3rem;
}

.lfo .module-lfo-ports-holder {
	position:absolute;
	bottom:1.7rem;
	margin-left:1.1rem;
}

.lfo .port {
	width:24px;
	height:24px;
	margin-top:1.5rem;
}