.module.lfo {
	width: 4rem;
	background-image: url(./img/rslfo_bg.png);
	background-size:contain;
	color:#ccc;
	font-weight:300;
}

.module-lfo-slider-holder {
	margin-left:1.75rem;
}

.lfo .standard-slider input {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 16px; /* Specified height */
  background: #666666; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.lfo .standard-slider input:hover {
  opacity:1;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.lfo .standard-slider input::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 40px; /* Slider handle height */
    background: #cccccc; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.lfo .standard-slider input::-moz-range-thumb {
    width: 10px; /* Set a specific slider handle width */
    height: 40px; /* Slider handle height */
    background: #cccccc; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.lfo .standard-slider input.active::-webkit-slider-thumb {
    background: red; /* Green background */
    box-shadow: 0 0 20px red;
}

.lfo .standard-slider input.active::-moz-range-thumb {
    background: red; /* Green background */
    box-shadow: 0 0 20px red;
}

.lfo .standard-slider-vertical {
  width: 8px;
  height: 140px;
  padding: 0;
}

.lfo .standard-slider-vertical input {
  width: 140px;
  height: 8px;
  margin: 0;
  transform-origin: 100px 100px;
  transform: rotate(-90deg);
}

.lfo .module-lfo-ports-holder {
	position:absolute;
	bottom:1.7rem;
	margin-left:1.1rem;
}

.lfo .port {
	width:24px;
	height:24px;
	margin-top:1.5rem;
}