@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400|Roboto:100,300,400,700,900');

h1, h2, h3, h4, h5, h6 {
  margin-top:0;
}

body {
  font-family:'Roboto', sans-serif;
}

.component-label {
	display:block;
}

label {
	display:block;
}

.synth {
  	border: none;
  	padding:2rem 1rem;
    background:black;
    color:white;
}

.module-container {
	display: flex;
  flex-flow: row wrap;
  background-image: url(./img/carbon_fiber.png);
  background-repeat: repeat;
}

.module {
  border: 1px solid #333333;
  width:15rem;
  height:30rem;
  background:white;
  color:black;
  position:relative;
}